.ModalContent {
    width: 40rem;
    height: 46.1rem;
    background: $primary-color;
    box-shadow: $primary-shadow;
    border-radius: 8px;
    padding: 3.2rem 3.2rem 4.7rem;
    color: #3B4262;
    font-size: 3.2rem;
    position: relative;
    overflow: hidden;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            text-transform: uppercase;
        }

        span.close {
            opacity: 0.25;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    figure {
        margin-top: 2rem;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }
}