.App {
    width: 100vw;
    min-height: 100vh;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;

    font: {
        weight: $primary-font-weight;
        family: $primary-font-stack;
    }
}