.GameOver {
    margin: 6.3rem auto;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    z-index: 1;

    h3 {
        font-size: 5.6rem;
        line-height: 6.7rem;
        text-shadow: $primary-shadow;
        margin-bottom: 1.6rem;
    }

    button {
        font: {
            weight: $secondary-font-weight;
            size: 1.6rem;
        }

        width: 22rem;
        height: 4.8rem;
        line-height: 1.9rem;
        letter-spacing: 0.25rem;
        color: #3B4262;
        text-transform: uppercase;
        background: linear-gradient(0deg, #F3F3F3 0%, $primary-color 100%);
        box-shadow: $primary-shadow;
        border-radius: 8px;
        cursor: pointer;
        transition: $button-transition;

        &:hover {
            background: transparent;
            color: $primary-color;
            border: 1px solid $primary-color;
        }

        &:focus-within {
            outline: #3B4262 dotted 1px;
        }
    }

    @media all and (max-width: 1000px) {
        margin: 6.3rem -4rem 0;
    }

    @media all and (max-width: 900px) {
        margin: 7rem -6.5rem 0;

        h3 {
            font-size: 5rem;
            margin-bottom: 1rem;
        }

        button {
            width: 20rem;
        }
    }

    @media all and (max-width: 800px) {
        margin: 7rem -7.5rem 0;

        h3 {
            font-size: 4.5rem;
            margin-bottom: 0.5rem;
        }

        button {
            width: 18rem;
        }
    }

    @media all and (max-width: 750px) {
        margin: 7rem -7.7rem 0;

        h3 {
            font-size: 4rem;
            margin-bottom: 0.5rem;
        }

        button {
            width: 16rem;
        }
    }

    @media all and (max-width: 650px) {
        margin: 7rem -4.7rem 0;

        h3 {
            font-size: 4rem;
            margin-bottom: 0.5rem;
        }

        button {
            width: 16rem;
        }
    }

    @media all and (max-width: 600px) {
        order: 2;
        margin: 6.3rem 0 0;

        h3 {
            font-size: 5.6rem;
            margin-bottom: 1.6rem;
        }

        button {
            width: 22rem;
            margin-bottom: 4rem;
        }
    }

    @media all and (max-width: 375px) {
        margin: 4rem 0 -6rem;
    }
}