@import './gameover';
@import '../utils/keyframes';

.GamePlay {
    max-width: 100vw;
    margin: 2.4rem 0 5rem;
    @extend %flex-center;
    justify-content: space-between;
    gap: 7rem;
    position: relative;

    section.Player {
        div.Fighter {
            -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
            animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
        }
    }

    section.House {
        div.Fighter {
            -webkit-animation: tilt-in-top-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-top-2 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }

    section {
        @extend %flex-center;
        flex-direction: column;
        position: relative;
        z-index: 0;

        h3 {
            text-transform: uppercase;
            margin-bottom: 6.3rem;
            font-size: 2.4rem;
            line-height: 3.2rem;
            letter-spacing: 0.3rem;
            text-shadow: $primary-shadow;
            -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }

        div.Fighter {
            position: relative;
            width: 29.261rem;
            height: 30rem;
            @extend %flex-center;

            .Icon {
                transform: scale(2);
                z-index: 1;
                cursor: default;

                &:hover {
                    &::before {
                        width: 0;
                        height: 0;
                    }
                }
            }

            .Empty {
                position: absolute;
                z-index: 0;
                width: 22.463rem;
                height: 22.463rem;
                background: rgba(0, 0, 0, 0.1);
                border-radius: 100%;
            }

            &.winner {
                &::before {
                    @include winnerGlow(2)
                }

                .Icon {
                    &::before {

                        top: -17.25%;
                        left: -17.25%;
                        @include winnerGlow(1.3);
                    }

                    &:hover {
                        ::before {
                            display: block !important;
                        }
                    }
                }

                .Empty {
                    &::before {
                        top: 6%;
                        left: 6%;
                        @include winnerGlow(3.25);
                    }
                }
            }

        }
    }

    @media all and (max-width:800px) {
        section {
            div.Fighter {
                .Icon {
                    transform: scale(1.8);
                }

                .Empty {
                    transform: scale(0.9);
                }

                &.winner {
                    &::before {
                        @include winnerGlow(1.8)
                    }
                }
            }
        }
    }

    @media all and (max-width:750px) {
        gap: 5rem;

        section {
            div.Fighter {
                .Icon {
                    transform: scale(1.6);
                }

                .Empty {
                    transform: scale(0.8);
                }

                &.winner {
                    &::before {
                        @include winnerGlow(1.6)
                    }
                }
            }
        }
    }

    @media all and (max-width:650px) {
        gap: 3rem;
        margin-top: 0;

        section {
            h3 {
                margin-bottom: 3rem;
            }

            div.Fighter {
                width: 24.261rem;
                height: 25rem;

                .Icon {
                    transform: scale(1.4);
                }

                .Empty {
                    transform: scale(0.7);
                }

                &.winner {
                    &::before {
                        @include winnerGlow(1.4)
                    }
                }
            }
        }
    }

    @media all and (max-width: 600px) {
        flex-wrap: wrap;
        gap: 0rem;

    }

    @media all and (max-width:550px) {
        section {
            flex-direction: column-reverse;
            width: 50%;

            h3 {
                margin-top: 1.7rem;
                margin-bottom: 0;
                font-size: 2rem;
            }

            div.Fighter {
                width: 22rem;
                height: 25rem;

                .Icon {
                    transform: scale(1.2);
                }

                .Empty {
                    transform: scale(0.6);
                }

                &.winner {
                    &::before {
                        @include winnerGlow(1.2)
                    }
                }
            }
        }
    }

    @media all and (max-width:490px) {
        height: 50vh;

        section {

            h3 {
                font-size: 1.5rem;
                letter-spacing: 0.1875rem;
            }

            div.Fighter {
                width: 18rem;
                height: 15rem;

                .Icon {
                    transform: scale(0.9);
                }

                .Empty {
                    transform: scale(0.45);
                }

                &.winner {
                    &::before {
                        @include winnerGlow(0.9)
                    }
                }
            }
        }
    }

    @media all and (max-width:440px) {

        section {
            div.Fighter {
                width: 15rem;
                height: 13rem;
            }
        }
    }

    @media all and (max-width:375px) {

        section {

            h3 {
                font-size: 1.4rem;
            }

            div.Fighter {
                width: 14rem;

                .Icon {
                    transform: scale(0.8);
                }

                .Empty {
                    transform: scale(0.4);
                }

                &.winner {
                    &::before {
                        @include winnerGlow(0.8)
                    }
                }
            }
        }
    }
}