section.Score {
    background: linear-gradient(0deg, #F3F3F3 0%, $primary-color 100%);
    box-shadow: $primary-shadow;
    border-radius: 8px;
    text-align: center;
    @extend %flex-center;
    flex-direction: column;
    width: 15rem;

    h2 {
        font: {
            weight: $secondary-font-weight;
            size: 1.6rem;
        }

        line-height: 1.9rem;
        letter-spacing: 0.25rem;
        color: #2A45C2;
        text-transform: uppercase;
    }

    span {
        font-size: 6.4rem;
        line-height: 6.4rem;
        color: #565468;
    }
}