.Icon {
    width: 14.5rem;
    height: 14.8rem;
    box-shadow: $primary-shadow;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;

    &:hover {
        &::before {
            top: -2.5rem;
            left: -2.5rem;
            @include winnerGlow(1);
        }
    }

    .Icon--OuterRing {
        width: 14.5rem;
        height: 14.144rem;
        @extend %flex-center;
        border-radius: 100%;

        .Icon--InnerRing {
            width: 11.2rem;
            height: 11.1rem;
            padding-top: 0.8rem;
            background: #BABFD4;
            display: flex;
            align-items: flex-end;
            border-radius: 100%;

            .Icon--InnerInnerRing {
                width: 11.131rem;
                height: 10.499rem;
                background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
                border-radius: 100%;
                @extend %flex-center;
            }
        }
    }
}