.RulesButton {
    font: {
        weight: $secondary-font-weight;
        size: 1.6rem;
    }

    position: absolute;
    bottom: 3.2rem;
    right: 3.2rem;
    width: 12.8rem;
    height: 4rem;
    border: 1px solid $primary-color;
    border-radius: 8px;
    cursor: pointer;
    line-height: 1.9rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    transition: $button-transition;

    &:focus-within {
        outline: #3B4262 dotted 1px;
    }

    &:hover {
        background: linear-gradient(0deg, #F3F3F3 0%, $primary-color 100%);
        color: #3B4262;
    }

    @media all and (max-width: 700px) {
        bottom: 2.5rem;
        right: 2.5rem;
    }

    @media all and (max-width: 650px) {
        bottom: 2rem;
        right: 2rem;
    }

    @media all and (max-width: 610px) {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    @media all and (max-width:550px) {
        position: relative;
        right: 0;
        bottom: 0;
        margin-top: 12.6rem;
    }

    @media all and (max-width:460px) {
        margin-top: 8.6rem;
    }

    @media all and (max-width:440px) {
        margin-top: 3rem;
    }
}